package ui

type DaisyModalOpts struct {
	Title string
	DialogId string
}

templ DaisyModal(opts DaisyModalOpts) {
	<dialog id={opts.DialogId} class="modal" hx-ext="response-targets">
	  <div class="modal-box">
	    <h3 class="text-lg font-bold">{opts.Title}</h3>
	    <div class="modal-action">
				{ children... }
	    </div>
	  </div>
		<form method="dialog" class="modal-backdrop">
	    <button>close</button>
	  </form>
	</dialog>
}
