package activities

import "antiscoof/internal/view/layout"
import "antiscoof/internal/service/strava-client"
import "fmt"

templ Index(activities []stravaclient.StravaActivityInfo) {
	@layout.App(true) {
		<div class="text-center py-12">
			<h1 class="text-2xl">Activities</h1>
			for _, activity := range activities {
				<div>{activity.Name} - {activity.SportType} - {fmt.Sprintf("%f", activity.Distance)}</div>
			}
			</div>
	}
}